.talentControl{
    width: var(--ControlWidth);
    margin: auto;
}

.horde-talentcontrolPanel {
    background-image: var(--HordeBackImage);
    background-repeat: no-repeat;
    background-size: cover;

    color: var(--GoldColor);

    max-height: 250px;
}

.horde-talentControlPanel > .panel-heading {
    background-image: var(--HordeBackImage);
    background-repeat: no-repeat;
    background-size: cover;

    color: var(--GoldColor);
}

.horde-talentControlDesc{
    width: 275px;
    height: 160px;
    float: left;

    margin-bottom: 0;

    background-image: var(--ChalkBackImage);
    background-repeat: no-repeat;
    background-size: cover;

    color: var(--GoldColor);
}

.alli-talentControlPanel {
    background-image: var(--AlliBackImage);
    background-repeat: no-repeat;
    background-size: cover;

    color: var(--GoldColor);

    max-height: 250px;
}

.alli-talentControlPanel > .panel-heading {
    background-image: var(--AlliBackImage);
    background-repeat: no-repeat;
    background-size: cover;

    color: var(--GoldColor);
}

.alli-talentControlDesc{
    width: 275px;
    height: 160px;
    float: left;
    
    margin-bottom: 0;

    background-image: var(--ChalkBackImage);
    background-repeat: no-repeat;
    background-size: cover;

    color: var(--GoldColor);
}

.talentControlHeader{
    height: auto;
}

.talentControlHeader div{
    width: auto;
}

.talentControlHeader img{
    height: 25px;
}

.talentControlHeader label{
    margin-left: 5px;
}

.talentSpellsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: 440px;
    height: 175px;
}

.talentLabel {
    margin-top: 10px;
    font-size: xx-large;
    text-align: center;
}

.talentSpellControl {
    margin-left: 10px;
    width: 210px;
    height: 40px;
    /*float: right;*/
}

.talentSpellControl > div > img {
    float: left;
    height: 36px;
    width: 36px;
    margin-left: 15px;
}

.talentSpellControlLvl {
    float: left;
    height: 36px;
    width: 15px;
}

.talentSpellControlName {
    float: left;
    margin-left: 5px;
    font-size: small;
}

/* Talent Tooltip container */
.tooltip-talent {
    position: relative;
    opacity: 100;
}

.tooltip-talent .tooltiptext-talent {
    visibility: hidden;

    height: auto;
    width: auto;
    max-width: 250px;
    min-width: 200px;
    padding: 5px 0;
    
    color: white;

    /*background-color: rgba(0, 0, 0, 0.90);*/
    background-image: var(--TooltipBackImage);
    background-repeat: no-repeat;
    background-size: cover;

    border: 3px solid rgb(52, 52, 52);
    border-radius: 6px;
    position: absolute;
    z-index: 10;
}

.tooltip-talent-top {
    top: 0;
    left: 50px;
}

.tooltip-talent:hover .tooltiptext-talent {
    visibility: visible;
}
