/* GLOBAL CSS */

:root {
    --HordeBackImage: url("/images/RedChalkboard.jpg");
    --AlliBackImage: url("/images/BlueChalkboard.jpg");
    --RaidBackImage: url("/images/GreenChalkboard.jpg");
    --ChalkBackImage: url("/images/GreyChalkboard.jpeg");
    --TooltipBackImage: url("/images/DarkGrit.jpg");

    --HordeColor: rgb(80, 0, 0);
    --AlliColor: rgb(0, 0, 80);
    --GoldColor: rgb(248, 183, 0);

    --ControlWidth: 775px;
}

.navbarHeader {
    margin: 0;
}

.footer {
    margin: 0;

    background-color: #222;
    border-color: #080808;
}

.footer-copyright {
    color: #9d9d9d;
}

.pageWell {
    /*background: #2C4770;*/
    font-family: 'Hammersmith One', sans-serif;
    margin: 0;
}

.pageHeader {
    text-align: center;
    /*background: #2C4770;*/
    border: none;
    /*color: #132a4a;*/
    margin: 0;
    padding: 0;
}

.pageHeader h1 {
    font-size: 54px;
    margin-top: 0;
}

.pageDescription {
    margin: auto;
    margin-bottom: 20px;
    font-size: 16px;
    max-width: 450px;
    text-align: center;
    /*color: #758AA8;*/
}

.pageTable th, .pageTable td {
    text-align: center;
}

.pageTable tr:nth-of-type(even) {
    background: #ececec;
    /*background: #142F54;
    color: #758AA8;*/
}
.pageTable tr:nth-of-type(odd) {
    background: #ececec;
    /*color: #758AA8;*/
}
